.inactive {
    display: none;
}

.patients {
    height: 100vh;
}

.patient-Adding-Closing__Buttons {
    width: 100%;
    display: flex;
}

.tableStructure {
    margin-top: 5px;
    width: 98%;
    height: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}

.patientsArea {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: #000000;

}

.patientField {
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 99.8%;
    height:50px;
    align-items: center;
    justify-content: space-around;
}

.more {
    width: 20px;
    height: 20px;
    border: 1px solid gray;
}