.buttons {
    display: flex;
    margin-top: 5px;
    margin-bottom: 1px;
}

.studyManagerTab {
    background-color: rgb(39, 108, 112);
    width: 200px;
    height: 50px;
    margin-left: 5px;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.studyManagerTab:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.studyManagerTabActive {
    background-color: rgb(66, 190, 197);
    width: 200px;
    height: 50px;
    margin-left: 5px;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.patientsTab {
    width: 200px;
    height: 50px;
    margin-left: 5px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: rgb(39, 108, 112);
}

.patientsTab:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.patientsTabActive {
    background-color: rgb(66, 190, 197);
    width: 200px;
    height: 50px;
    margin-left: 5px;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.list {
    background-color: rgb(73, 214, 222);
}

/*

background-color: rgb(39, 108, 112);
background-color: rgb(66, 190, 197);
*/